/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800

*/
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
p{
    font-size: 18px;
}
h3{
    font-size: 15px;
    margin-top: 35px;
    font-weight: 600;
}
.container{
    display: flex;
    outline: 1px red dashed;
    border-radius: 20px;
    width: 99%;
    height: 33rem;
    box-shadow: 10px 10px 50px grey;
}
.results-panel{
    outline: 1px blue dashed;
    border-radius: 20px 20px;
    width: 100%;
    margin: 0;
    color: hsl(0, 0%, 100%);
    text-align: center;
    background: linear-gradient( 10deg ,hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}
.point-panel{
    display: flex;
    justify-content: space-around;
}

.panel{
    margin-top: 60px;
    background-color: hsla(256, 72%, 46%, 1);
    width: 200px;
    border-radius: 50%;
}
#grade{
    font-weight: 700;
    font-size: 45px;
}
.report{
    width: 75%;
    margin-left: 13%;
    margin-top: 55px;
}
.report p{
    font-size: 15px;
}
/*Summary panel styles*/
.summary-panel {
    margin: 10px;
    width: 100%;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 5px ;
    border-radius: 10px;
    margin-top: 20px;
}
.reaction {
    background-color: hsla(0, 100%, 67%, 0.22);
    color: hsl(0, 100%, 67%);
}
.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.28);
}
.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.15);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.09);
    color: hsl(166, 100%, 37%);
}
.marks{
    color: grey;
    font-weight: 500;
}
.bold{
    color: hsl(224, 30%, 27%);
    padding: 5px;
    font-weight: 700;
}
button{
    background-color: hsl(224, 30%, 27%);
    padding: 15px 0 15px 0;
    margin-top: 25px;
    width: 100%;
    border-radius: 25px;
    color: whitesmoke;
    font-weight: 400;
    border: 0;
}
button:hover{
    background: linear-gradient(180deg, hsl(252, 67%, 38%), hsl(241, 86%, 43%));
}
img{
    padding-right: 5px;
    align-items: baseline;
}