body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
p{
    font-size: 18px;
}
h3{
    font-size: 15px;
    margin-top: 35px;
    font-weight: 600;
}
.container{
    display: flex;
    border-radius: 20px;
    width: 99%;
    height: 33rem;
    box-shadow: 10px 10px 50px grey;
}
.results-panel{
    border-radius: 20px 20px;
    width: 100%;
    margin: 0;
    color: hsl(0, 0%, 100%);
    text-align: center;
    background: linear-gradient( 10deg ,hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}
.point-panel{
    display: flex;
    justify-content: space-around;
}

.panel{
    margin-top: 60px;
    background-color: hsla(256, 72%, 46%, 1);
    width: 200px;
    border-radius: 50%;
}
#grade{
    font-weight: 700;
    font-size: 45px;
}
.report{
    width: 75%;
    margin-left: 13%;
    margin-top: 55px;
}
.report p{
    font-size: 15px;
}
.summary-panel {
    margin: 10px;
    width: 100%;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 5px ;
    border-radius: 10px;
    margin-top: 20px;
}
.reaction {
    background-color: hsla(0, 100%, 67%, 0.22);
    color: hsl(0, 100%, 67%);
}
.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.28);
}
.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.15);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.09);
    color: hsl(166, 100%, 37%);
}
.marks{
    color: grey;
    font-weight: 500;
}
.bold{
    color: hsl(224, 30%, 27%);
    padding: 5px;
    font-weight: 700;
}
button{
    background-color: hsl(224, 30%, 27%);
    padding: 15px 0 15px 0;
    margin-top: 25px;
    width: 100%;
    border-radius: 25px;
    color: whitesmoke;
    font-weight: 400;
    border: 0;
}
button:hover{
    background: linear-gradient(180deg, hsl(252, 67%, 38%), hsl(241, 86%, 43%));
}
img{
    padding-right: 5px;
    align-items: baseline;
}
@media only screen and  (max-width: 600px){
    body{
        margin: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .summary-panel{
        margin: 20px;
        width: 90%;
    }
    .results-panel{
        border-radius: 0 0 20px 20px;
    }
}