/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800

*/
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
p{
    font-size: 18px;
}
.container{
    display: flex;
    outline: 1px red dashed;
    border-radius: 20px;
    width: 80%;
}
.results-panel{
    outline: 1px blue dashed;
    border-radius: 20px 0 0 20px;
    width: 50%;
    margin: 0;
    color: hsl(0, 0%, 100%);
    text-align: center;
    background-color: hsl(241, 81%, 54%);
}
.summary-panel{
    outline: 1px green dashed;
    width: 50%;
}
.summary-panel p {
    vertical-align: sub;
}

.point-panel{
    display: flex;
    justify-content: space-around;
}
.panel{
    background-color: hsla(256, 72%, 46%, 1);
    padding: 3% 16%;
    border-radius: 50%;
}
#grade{
    font-weight: 700;
    font-size: 28px;
}
.results{
    margin-right: 20px;
    word-spacing: 20px;
}
.overall{
    color: hsl(224, 30%, 27%);
}